<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Samples for FusionTime in Angular 5</h1>
  <simple-timeseries></simple-timeseries>
  <multivariate-timeseries></multivariate-timeseries>
  <stock-chart></stock-chart>
  <single-event-overlay></single-event-overlay>
  <multiseries-timeaxis></multiseries-timeaxis>
  <column-line-time-axis></column-line-time-axis>
  <column-time-axis></column-time-axis>
  <annotating-single-data-point></annotating-single-data-point>
  <date-event-overlay></date-event-overlay>
  <adding-reference-line></adding-reference-line>
</div>
